

/**** FONT ****/
.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


.poppins_regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }

.poppins_bold {
    font-family: "Poppins", serif;
    font-weight: 900;
  }

/**** HOME ****/
.home {
    width: 100%;
    height: 100vh;
    background-color: #ffe46a;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.home_logo_container {
    display: flex;
    justify-content: end;
    align-self: flex-end;
}

.home_description {
    background-color: #ffe46a;
    position: absolute;
    z-index: 10;
    padding: 5% 10%;
}


.home_bato {
    font-size: clamp(4rem, 8vw, 9rem); /* Responsive scaling */
    text-transform: uppercase;
    line-height: 0.8;
    color: white;
}

.home_class {
    font-size: clamp(2.5rem, 5vw, 5rem); /* Responsive scaling */
    text-transform: uppercase;
    line-height: 0.8;
    color: white;
}

.home_year {
    color: #9f2b00;
}
.home_reunion_logo {
    width: 22vw;
}

/**** VIDEOS ****/
.videos_section {
    width: 100%;
    min-height: 100vh;
    background-color: #ffe46a;
}

.video_title {
    font-size: clamp(4rem, 8vw, 9rem); /* Responsive scaling */
    text-transform: uppercase;
    line-height: 0.8;
    color: white;
}

.video_contents {
    line-height: 2;
    font-size: clamp(1.5rem, 4vw, 1.5rem); /* Responsive scaling */
}

.video_container {
    height: 80vh;
    padding: 10%;
    display: flex;
    padding: 5%;
    justify-content: center;
    align-items: center;
}

.videos_list {
    list-style: none;
}